.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#mainContent{
    display: block;
    margin: auto;
    width: 60%;
}

.controls {
    display: block;
    background-color: #90CAF9;
}

.control{
    background-color: white;
}

.leagueSummary {
    width: 100%;
}

.teamTable{
    width: 100%;
}

.teamTitle
{
    text-align: center;
}