@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
    <title></title>
</head>
<body>
    <div class="controls">
        <a class="control teamsbutton mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Teams</a>
        <a class="control analyticsbutton hidden mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Analytics</a>
        <a class="control updatestats mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Update</a>
        <a class="control playerstatsbutton mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">All Players</a>
    </div>
    <div id="mainContent">
        <div class="leagueSummary hidden"></div>
        <div class="analytics hidden">
            <div id="statchart"></div>
        </div>
        <div class="playersview hidden">
            <div id="playerstable"></div>
        </div>
        <div class="loading">
            <div class="loader">
                <svg class="circular">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        </div>
    <div id="hidden" class="hidden">
        <table class="owners mdl-data-table"></table>
        6<div class="teamContent">
            <div class="teamTitle"></div>
            <div class="teamTable">
                <table class="team mdl-data-table"></table>
            </div>
        </div>
        
    </div>
</body>
</html>